.bulletin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(85,85,85,0.3);
  z-index: 10;
}

.modal {
  position: absolute;
  bottom: 0;
  padding-top: 36px;
  width: 100%;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  .icon {
    position: relative;
    width: 100%;
    height: calc(106px - 45px - 36px);
    top: calc(-45px - 36px);
    margin-bottom: 10px;
    img {
      height: 106px;
      margin: 0 auto;
      display: block;
    }
  }
  .title {
    margin-bottom: 4px;
    padding: 0 24px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #333;
  }
  .message {
    margin-bottom: 22px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
  }
  .close {
    display: block;
    margin-top: 22px;
    width: 100%;
    .ok {
      padding: 14px 24px;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      background: #65d065;
      color: #fff;
      text-align: center;
      border: none;
      animation-duration: 3.6s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: shake;
    }
  }
}

.enter, .appear {
  opacity: 0.5;
  .modal {
    transform: translateY(20px);
  }
  &.enterActive, &.appearActive {
    opacity: 1;
    transition: all 400ms ease;
    .modal {
      transform: none;
      transition: all 400ms ease;
    }
  }
}

.leave {
  opacity: 1;
  &.leaveActive {
    opacity: 0;
    transition: all 400ms ease;
    .modal {
      transform: translateY(20px);
      transition: all 400ms ease;
    }
  }
}

@keyframes shake {
  from,
  20%,
  to {
    transform: translate3d(0, 0, 0);
  }

  2%,
  6%,
  10%,
  14%,
  18% {
    transform: translate3d(-4px, 0, 0);
  }

  4%,
  8%,
  12%,
  16% {
    transform: translate3d(4px, 0, 0);
  }
}
